entrypoint = "index.js"
modules = ["nodejs-20", "nodejs-22"]
hidden = [".config", "package-lock.json"]

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "package.json", "package-lock.json"]

[nix]
channel = "stable-24_11"

[deployment]
run = ["sh", "-c", "vite preview"]
deploymentTarget = "autoscale"
ignorePorts = false
build = ["sh", "-c", "bun install && bun run build"]

[workflows]
runButton = "Dev"

[[workflows.workflow]]
name = "Dev"
author = 42247829
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bun install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bun run dev"

[[ports]]
localPort = 8080
externalPort = 80
